html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

.flex {
	flex-direction: initial;
	flex-wrap: wrap;
}

.flex p {
	margin: 4%
}

a img {
	height: 75px;
}

header {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%
}

header img {
	margin: 10px;
}

header h3 {
	display: inline-block;
	margin: 0;
}

header h3 strong {
	font-size: smaller;
}

juel-nav {
  --background: rgba(255,255,255, 0.6);
  --title-background: transparent;
}

juel-nav a {
  text-decoration: none;
  color: blue;
  padding: .25rem;
}

juel-nav li a:hover, juel-nav li a.active, juel-nav juel-menu a:hover, juel-nav juel-menu a.active {
  color: white;
  background: blue;
  border-radius: .25rem;
}

juel-nav::part(nav-sticky) {
  background: var(--light);
}

juel-nav ul {
	display: flex;
}

juel-nav ul li {
	list-style: none;
	padding: 0 8px 0 8px;
}

juel-nav juel-menu::part(items) {
	width: 150px;
}

juel-button a {
	color: white;
		font-weight: bold;
		font-size: larger;
		padding: .5rem;
	color: white;
}

a.kofi-button {
	min-width: initial !important;
}
juel-carousel {
	width: 100vw;
	height: 100vh;
}

juel-carousel p {
	margin: 0;
}

juel-carousel img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.button-list {
	list-style: none;
	width: 40%;
}
.button-list li {
	margin: 5% 0;
}
article {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#recite-wrapper article {
	padding-top: 200px;
}

article h1 {
	font-size: xx-large;
	text-align: center;
}

div.card {
	display: block;
    margin-top: 10%;
    position: absolute;
    border-radius: 25pt;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
	left: 5%;
	right: 5%;
	max-height: 150mm;
	overflow: auto;
}

section {
	margin: 0 10%;
	padding: .25em 1em;
    background: white;
}

juel-accordion h2 {
	margin: .25rem;
}

.navigation {
	display: flex;
	width: 100%;
	justify-content: space-between;
	bottom: 40%;
}

footer {
	display: flex;
	justify-content: center;
}

#me {
	height: 100mm;
	border-radius: 10px;
}

.reverse {
	direction: rtl;
	unicode-bidi: bidi-override;
}

.email {
    text-decoration: underline;
    cursor: pointer;
}