<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="{{page.url}}" />
	<meta name="description" content="{{page.description}}">
	<meta name="keywords" content="{{page.keywords}}">
	<meta name="author" content="{{page.author}}">
    <title>{{page.title}}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16.png">

	<script src="juel.js"></script>
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="styles.css" rel="stylesheet" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6DT8QHGR7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z6DT8QHGR7');
    </script>
    	{{#if page.image}}
	<style>
	article {
		padding-top: 10%;
	background-image: url({{page.image}});
    background-size: cover;
    background-attachment: fixed;
	}
	</style>
	{{/if}}

	{{#if page.background}}
	<style>
	article {
		padding-top: 10%;
	background: {{page.background}};
	}
	</style>
	{{/if}}
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary"><img src="./logo-header.png"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        {{#each menus.main}}
                        <li class="nav-item {{this.class}}">
                            {{#if this.items}}
                            {{#if this.showItems}}
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{this.name}}
                                </a>
                                <ul class="dropdown-menu">
                                    {{#each this.items}}
                                    <li><a class="dropdown-item {{this.class}}" href="{{this.route}}">{{this.name}}</a></li>
                                {{/each}}
          </ul>
                            {{ else }}
                            <a class="nav-link {{this.class}}" href="{{this.route}}">{{this.name}}</a>
                            {{/if}}
                            {{ else }}
                            <a class="nav-link {{this.class}}" href="{{this.route}}">{{this.name}}</a>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </nav>
	<article>
		<!-- Page Content-->
            <div class="container px-5 my-5 bg-light">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{selector 'h1'}}</span></h1>
                </div>
                {{#if page.date}}
                <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                    <div class="text-uppercase">{{page.date}}</div>
                </div>
                {{/if}}
                {{#selector-if 'section > section'}}
                {{#selector-each 'section > section'}}
                <div class="row gx-5 justify-content-center">
                    <div class="col-12">
                        <!-- Experience Section-->
                        <section>
                            <h2 class="text-primary fw-bolder mb-4">{{selector 'h2'}}</h2>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-12">
                                            {{selector 'h2 ~ *' 'all'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                {{/selector-each}}
                {{else}}
                {{> main}}
                {{/selector-if}}
                
            </div>

	<div class="navigation">
	{{ #if page.previous }}
	<juel-menu placement="top" disable-mobile>
	<a slot="title" class="{{page.previous.class}}" target="_self" href="{{page.previous.route}}">
		<juel-button><strong slot="content"><i style="padding: .25rem" class="fas fa-arrow-left"></i>{{page.previous.name}}</strong></juel-button>
	</a>
		<juel-card>
			<img slot="image" class="relative" src="{{ page.previous.image }}"/>
			<h3 slot="title">{{page.previous.name}}</h3>
		</juel-card>
	</juel-menu>
	{{ /if }}
	{{ #if page.next }}
	<juel-menu placement="top" disable-mobile>
	<a slot="title" class="{{page.next.class}}" target="_self" href="{{page.next.route}}">
	<juel-button><strong slot="content"><i style="padding: .25rem" class="fas fa-arrow-right"></i>{{page.next.name}}</strong></juel-button>
	</a>
		<juel-card>
			<img slot="image" class="relative" src="{{ page.next.image }}"/>
			<h3 slot="title">{{page.next.name}}</h3>
		</juel-card>
	</juel-menu>
	{{ /if }}
	
	</div>
	</article>
<!-- Footer-->
    <footer class="py-5">
        <div class="container px-5 bg-light">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-5">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">{{Site.Tagline}}</span></h2>
                            <p class="lead fw-light mb-4">Make Suffolk proud!</p>
                            <p class="text-muted">
                            </p>
                            <div class="d-flex justify-content-center fs-2 gap-4">
                                {{#if Site.Contacts.youtube}}
                                <a class="text-gradient" href="{{Site.Contacts.youtube}}"><i class="fa-brands fa-youtube"></i></a>
                                {{/if}}
                                {{#if Site.Contacts.x}}
                                <a class="text-gradient" href="{{Site.Contacts.x}}"><i class="fa-brands fa-x-twitter"></i></a>
                                {{/if}}
                                {{#if Site.Contacts.bluesky}}
                                <a class="text-gradient" href="{{Site.Contacts.bluesky}}"><i class="fa-brands fa-bluesky"></i></a>
                                {{/if}}
                                {{#if Site.Contacts.linkedin}}
                                <a class="text-gradient" href="{{site.Contacts.linkedin}}"><i class="fa-brands fa-linkedin"></i></a>
                                {{/if}}
                                {{#if Site.Contacts.facebook}}
                                <a class="text-gradient" href="{{site.Contacts.facebook}}"><i class="fa-brands fa-facebook"></i></a>
                                {{/if}}
                                {{#if Site.Contacts.github}}
                                <a class="text-gradient" href="#!"><i class="fa-brands fa-github"></i></a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">{{copyright}}</div>
                </div>
                {{!-- <div class="col-auto">
                    <a class="small" href="privacy">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="terms">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="contact">Contact</a>
                </div> --}}
            </div>
        </div>
    </footer>
	
	<!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Metricool verify -->
    <script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"a6e17ac212770553cde0fa2146e9f06e"})});</script>
</body>
</html>