
	{{> content}}
<div class="container d-flex flex-wrap align-items-center">
{{#each page.sub}}
<div class="card" style="width: 18rem;">
  <img src="{{this.Image}}" class="card-img-top relative" alt="{{this.Name}}">
  <div class="card-body">
    <h5 class="card-title">{{this.Name}}</h5>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
    <a href="{{this.Route}}" class="btn btn-primary relative">Read</a>
  </div>
</div>
{{/each}}
</div>